

<div id="form">
   <h2 id="logoutH2">Log out</h2>
<form class="logout-form" id="form" action="/logout" method="POST">
<a class="logout-message">Are you sure you want to log out?</a>
<a class="logout-message">Some features are only available when logged in.</a>
  <button class="logout-btn">Log out</button>
</form>

</div>

<style>
body { 
  background-image: url('https://data.1freewallpapers.com/detail/dragon-mountains-snow-fantasy-landscape-art.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>