<style>
body {
  background-image: url('/images/mountains_clouds_sea_ship.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<div id="form">
    <h2>Signup</h2>
    <form action="/signup" method="POST">
    
 <label for ="myEmail"> Email
          <input id="myEmail" type="email" name="email" placeholder="user@example.com"/>    
      </label>

    <label for="myUserName"> Username
        <input id="myUserName" type="text" name="username" placeholder="username"/>
    </label>

    <label for="myPassword"> Password
        <input id="myPassword"  type="password" name="password" placeholder="*********" />
    </label>
    
    <button type="submit">Create account</button>
    
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    <p>Already have an account? <a href="/login">Log in</a> here!</p>
    </form>

</div>
