<div id="form">
    <h2>Signup</h2>
    <form action="/signup" method="POST">
    
 <label for ="myEmail"> Email
          <input id="myEmail" type="email" name="email" placeholder="user@example.com"/>    
      </label>

    <label for="myUserName"> Username
        <input id="myUserName" type="text" name="username" placeholder="username"/>
    </label>

    <label for="myPassword"> Password
        <input id="myPassword"  type="password" name="password" placeholder="*********" />
    </label>
    
    <button type="submit">Create account</button>
    
    {{#if errorMessage}}
      <p class="error-message">{{errorMessage}}</p>
    {{/if}}
    </form>
</div>

<p>Already have an account? <a href="/login">Log in</a> here!</p>


<style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/stones_wood_dark_light_castle_69204_1366x768.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>