<h1>{{appTitle}}</h1>
<p>Welcome!</p>

<a href="/signup">Signup</a>
<a href="/login">Log in</a>

<style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/lock_mountains_city_fog_3479_1366x768.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>