<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}! A world builders best friend.</p>

<a>At {{appTitle}} you can browse characters built by other users,<br> create your own characters and store them on your page!</a>

<a href="/signup">Signup |</a>
<a href="/login"> Log in</a>

<style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/lock_mountains_city_fog_3479_1366x768.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#navHome{
  background-color: rgba(194, 138, 26);
}
</style>