<div class="homePage">
  <h1>{{appTitle}}</h1>
  <p>Welcome to {{appTitle}}! A world builders best friend.</p>

  <a>At {{appTitle}} you can browse characters built by other users,
    <br> create your own characters and store them on your page!
    <br> Don't have your dice with you? No problem! 
    <br> Dungeon Forge has a "Roll D20" button at the top of every page! 
    <br>Just click the button and see what you've rolled!
  </a>

  <div>
    <a href="/signup">Signup |</a>
    <a href="/login"> Log in</a>
  </div>
</div>
<style>
  body {
    background-image: url('https://images.wallpaperscraft.com/image/single/lock_mountains_city_fog_3479_1366x768.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #navHome {
    background-color: rgba(194, 138, 26);
  }
</style>
