body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: rgb(197, 171, 2);
  text-decoration:none;
  text-shadow: 1px 1px 1px rgba(39, 38, 38, 0.5);
}





/*NAVBAR*/





.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.6);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

#d20Result {
  font-size: 18px;
  float: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: left;
  text-shadow: 0px;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 18px 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dice-dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding:18px 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-left: 200px;
}

.dropdown:hover .dropbtn {
  background-color: rgba(194, 138, 26);
}

.dropdown:hover .dice-dropbtn {
  background-color: rgba(194, 138, 26,0.5);
}


.navbar a:hover  {
  background-color: rgba(194, 138, 26,0.5);
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.6);
  min-width: 124px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dice-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(194, 138, 26,0.5);
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 200px;
  border-radius: 0px 0px 10px 10px;
  text-shadow: 1px 1px 1px rgba(75, 74, 74, 0.231);
}

.dropdown-content a {
  font-size: 16px;
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-shadow: 0px;
}

#d20Result {
  font-size: 22px;
  text-decoration:solid;
  float: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  text-align: center;
  text-shadow: 0px;
}


.dropdown-content a:hover {
  background-color: rgba(194, 138, 26,0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dice-dropdown-content {
  display: block;
}


.top-left {
  font-size: 20px;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}






/*INDEX*/



.newFeaturesBox {
  color:black;
  background-color: rgba(50, 50, 50, 0.288);
  margin-top: 60px;
  margin-left: 30px;
  max-width: 500px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 10px;
  text-shadow: 1px 1px 1px rgba(121, 120, 120, 0.5);
  text-align: center;
}

.newFeaturesBox {
  animation-duration: 1.5s;
  animation-name: animate-fade;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}


@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



h1 {
  color: rgb(206, 162, 19);
  font-size: 60px;
  text-shadow: 1px 2px 5px rgba(47, 46, 46, 0.454);
  margin-bottom: 20px;
  margin-left: 65px;
  margin-top: 5%;
}


.indexText{
  display: flex;
  flex-direction: column;
  max-width: 620px;
  font-size: 16px;
}

.indexText p {
  color:rgb(48, 46, 46);
  margin-top: 5px;
  text-shadow: 2px 1px 1px 5px rgba(121, 120, 120, 0.5);
}

.newFeaturesBox p {
  color:black;
  text-shadow: 0px 0px 5px rgb(166, 161, 161);
  margin-bottom: 10px;
  margin-top: 5px;

}

#newFeatures {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(197, 171, 2);
  text-decoration:none;
  text-shadow: 2px 1px 1px rgba(39, 38, 38, 0.5);
  text-align: center;
}

#indexText1 {
  font-size: 18px;
}

.indexText a {
  margin-left: 6px;
}

#indexSignUp {
  margin-top: 40px;
}



/*GALLERY*/

.gallery-header {
  font-size: 24px;;
  border: solid 5px;
  border-color:rgb(110, 90, 60);
  border-bottom-color:rgb(93, 76, 49) ;
  border-top-color: rgb(132, 108, 73);
  border-right-color:rgb(123, 101, 67) ;
  min-width: 260px;
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(190, 173, 121, 0.404);
  color:rgb(31, 30, 30);
  text-shadow: 1px 1px 3px rgba(171, 165, 165, 0.731);
  margin-top: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.gallery-header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}




/*USER PAGE*/

.user-header {
  font-size: 24px;;
  border: solid 5px;
  border-color:rgb(110, 90, 60);
  border-bottom-color:rgb(93, 76, 49) ;
  border-top-color: rgb(132, 108, 73);
  border-right-color:rgb(123, 101, 67) ;
  width: 260px;
  padding: 6px;
  padding-top: 6px;
  padding-bottom: 8px;
  background-color: rgba(190, 173, 121, 0.404);
  color:rgb(48, 46, 46);
  text-shadow: 1px 1px 3px rgba(171, 165, 165, 0.731);
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
}

.userPage {
  display: flex;
  flex-direction: column;
}

.myPageTop {
  margin-left: 80%;
  margin-top: 50px;
  color:rgb(36, 34, 34);
  text-shadow: -1px 1px 4px rgba(171, 165, 165, 0.783);
}

.createNewChar {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(56, 54, 54, 0.841);
}
#profile-header-div {
  margin-bottom: 0px;
}

/*FORMS*/






.char-image-large img {
  border: solid 10px;
  border-color:rgba(84, 69, 46, 0.8);
  border-bottom-color:rgba(58, 47, 30, 0.9) ;
  border-top-color: rgba(70, 57, 35, 0.9);
  border-right-color: rgba(86, 65, 35, 0.9);
}
#editor-img {
  margin-top: 30px;
}
.char-block {
  display: flex;
  flex-direction: row;
  margin:20px;
}
.char-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.char-info-large {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  background-color: rgba(253, 223, 179, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  height: 470px;
  
}
.overFlowText {
  overflow: scroll;
  max-height: 120px; 
}
.created-char-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 480px;
  overflow:scroll;
  /* border: 2px solid rgba(202, 159, 101, 0.436);
  background-color: rgba(220, 198, 150, 0.21); */
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;

  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.char-info-all-chars {
  padding-left: 20px;
  background-color: rgba(253, 223, 179, 0.5);
  min-width: 160px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  height:210px;
}

.char-info-all-chars p {
  font-size: 16px
}

img {
  border: solid 5px;
  border-color:rgb(110, 90, 60);
  border-bottom-color:rgb(93, 76, 49) ;
  border-top-color: rgb(132, 108, 73);
  border-right-color:rgb(123, 101, 67) ;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  width: 450px;
  background-color: rgb(218, 218, 213, 0.7);
  padding: 15px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
}

form label {
  color: #666;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  /* width: 100%; */
  padding:15px;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 5px;
  margin-bottom: 20px;
}

form button {
  background: rgb(197, 171, 2);
  border: 1px solid rgb(197, 171, 2);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.679);
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  margin-right: 17px;
  margin-left: 17px;
  margin-top: 10px;
  margin-bottom: 30px;
  
  
}

form button:hover {
  background-color: rgba(247, 247, 246, 0.707);
  color: rgb(197, 171, 2);
  /* text-shadow: 1px 1px rgba(39, 38, 38, 0.5); */
  transition: 0.3s ease background;
}

.error {
  background: #c5627e;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
}

#form h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(197, 171, 2);
  margin-top: 50px
}

#logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
  
}
#form p {
  justify-self:center;
}
.error-message {
  background-color: rgb(244, 133, 133);
  margin-right: 40px;
}
.logout-message {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  color:rgb(2, 2, 2)
}
.logout-form {
  background-color: rgba(253, 223, 179, 0.5);
}
.logout-btn, input[type="submit"], input[type="reset"] {
    background: none;
    background: rgb(197, 171, 2);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
#logoutH2 {
  margin-top: 80px;
  margin-bottom: 130px;
}

.editor-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

#editor-form {
  background-color: rgba(253, 223, 179, 0.5);
  display: flex;
  justify-content: center;
}
#editor-form input{
  margin: 5px;
}
.editor-form {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 445px;
  overflow: scroll;
}

.char-info-large-bottom {
  padding-bottom: 20px;
}

#char-large-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delete-button {
  padding: 0px;
  margin-top: 40px;
}
.delete-form {
  background-color: rgba(253, 223, 179, 0.5);
  margin-top: 0px;
}

#creator-form label {
  color:black;
}
#editor-form label {
  color:black;
 
}

h2 {
  display: flex;
  justify-content: center;
}

.myPageTop {
  display: flex;
  justify-content: center;
}

#myPageTop {
  font-size: 18px;
  margin-top: 60px;
  margin-bottom:25px;
}
#char-create-top {
  margin-top: 40px;
  color: rgb(197, 171, 2);
}



.form1 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 30px;
  color:rgb(48, 46, 46);
  text-shadow: 2px 1px 5px rgba(219, 216, 216, 0.953);
  margin-bottom: 25px;
}

.form2{
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  color:rgb(48, 46, 46);
  text-shadow: 2px 1px 5px rgba(219, 216, 216, 0.953)
}

.form4 {
  font-size: 16px;
  color:rgb(48, 46, 46);
  text-shadow: 2px 1px 5px rgba(219, 216, 216, 0.953)
}

.form5 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.form6 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.form-race {
  width: 324.5px;
  height: 31px;
  text-align: center;
  margin-bottom: 30px;
  margin-top:10px;
  font-size: 14px;
  color:rgb(48, 46, 46);
  
}
.form-name {
  width: 325px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color:rgb(48, 46, 46);
  
}

#save-edit {
  padding-left: 108px;
  padding-right: 108px;
  margin-top: 0px;
}



#fileUpload {
  padding-left: 115px;
}
.homePage {
  padding-left: 10px;
  padding-right: 10px;
}
.editor-form {
  padding-bottom:0px;
  padding-top:0px;
  margin-top: 0;
  margin-bottom: 0;

}

.img-small {
  max-width: 250px;
}
#creator-form {
  background-color: rgba(253, 223, 179, 0.5);
  display: flex;
  justify-content: center;
}
.textArea {
  margin-top: 5px;
  min-width: 320px;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  min-height: 80px;
}


#profile-char-blocks {
  border: none;
  background: none;
  height: 430px;
  margin-right: 25px;
  margin-left: 25px;
}

