body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  color: 15px;
}

nav{
  margin-top: 0;
  background-color: rgb(123, 122, 122, 0.5);
  font-size: 20px;
  height: 50px;
}


.nav-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.top-right {
  padding-left: 10px;
}
