
<h2 id="char-create-top">Character Creator</h2>
<div  class="form">
<form id="creator-form" action="/create" method="post" enctype="multipart/form-data">
<div class="form1">
<label for="form-name">Choose a Name for your Character:
    <input class="form-name" id="form-name" type="text" name="name" placeholder="Name">
</label>
</div>
<div class="form2">
<label for="form-race">Select A Race:
    <select class="form-race" id="form-name" name="race" placeholder="Race">
        <option value="n-a">- Select Race -</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Elf">Elf</option>
        <option value="Halfling">Halfling</option>
        <option value="Human">Human</option>
        <option value="Dragonborn">Dragonborn</option>
        <option value="Gnome">Gnome</option>
        <option value="Half-Elf">Half-Elf</option>
        <option value="Half-Orc">Half-Orc</option>
        <option value="Tiefling">Tiefling</option>
    </select>
</label>
</div>
<div class="form3">
<label for="form dndclass">Select A Class:
    <select name="dndclass" id="char-class" placeholder="Class">
        <option value="n-a">- Select Class -</option>
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
    </select>
</label>
</div>
<div class="form4">
<label>Upload An Image:
    <input type="file" name="imageFile">
</label>
</div>
<button type="submit">Create Character</button>


{{#if errorMessage}}
      <p class="error-message">{{errorMessage}}</p>
    {{/if}}


</form>

</div>
<style>
body {
  background-image: url('https://images.wallpaperscraft.com/image/single/lock_chain_wreckage_fog_63090_1366x768.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#navCreate{
  background-color: rgba(194, 138, 26);
}

</style>